project_id = "<project-id>"
network    = "projects/<project-id>/global/networks/<vpc-name>"
egress_rules = {
  allow-egress = {
    deny = false
    rules = [{
      protocol = "tcp"
      ports    = ["5432"]
    }]
  }
}
