  activate_api_identities = {
    "project-01" = {
      project_id = "project-id",
      activate_apis = [
        "servicenetworking.googleapis.com",
        "alloydb.googleapis.com",
        "sqladmin.googleapis.com",
        "iam.googleapis.com",
        "compute.googleapis.com",
        "redis.googleapis.com",
        "aiplatform.googleapis.com",
        "container.googleapis.com",
        "run.googleapis.com",
      ],
    },
  }
