project_id = "<project-id>"
network    = "projects/<project-id>/global/networks/<vpc-name>"
ingress_rules = {
  allow-ingress = {
    deny = false
    rules = [{
      protocol = "tcp"
      ports    = ["22", "443"]
    }]
  }
}
