cluster_id: <cluster-id-here>
cluster_display_name: <cluster-display-name-here>
project_id: <project-id>
region: <region> #e.g. : us-central1
network_id: <network-id> #e.g. : projects/<project-id>/global/networks/<network-name>
allocated_ip_range: range1
primary_instance:
  instance_id : <instance-id-here>
  display_name : <instance-display-name-here>
  instance_type : PRIMARY
  machine_cpu_count : 2
  database_flags : null
read_pool_instance : null
automated_backup_policy : null
